article.tabs
{
    position: relative;
    display: block;
    width: 40em;
    height: 15em;
    margin: 2em auto auto 12em;
}

article.tabs section
{
    position: absolute;
    display: block;
    top: 0;
    left: 2.4em;
    height: 12em;
    padding: 10px 20px;
    background-color: #fff;
    z-index: 0;
}

article.tabs section:first-child
{
    z-index: 1;
}

article.tabs section h2
{
    position: absolute;
    font-size: 1em;
    font-weight: normal;
    width: 12em;
    height: 4em;
    top: 0;
    left: -12em;
    padding: 0;
    margin: 0;
    color: #999;
    background-color: #ddd;
    border-radius: 5px 0 0 5px;
}

article.tabs section:nth-child(2) h2
{
    top: 4em;
}

article.tabs section:nth-child(3) h2
{
    top: 8em;
}

article.tabs section h2 a
{
    position: relative;
    margin: auto;
    top: 1em;
    display: block;
    width: 100%;
    line-height: 1.8em;
    text-align: center;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
}

article.tabs section .tab_content
{
    display: none;
}

article.tabs section:target .tab_content
{
    display: block;
    z-index: 2;
    border-radius: 5px;
}

article.tabs section:target,
article.tabs section:target h2
{
    color: #333;
    background-color: #fff;
    z-index: 2;
    display: block;
}

article.tabs section:target
{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

article.tabs section:target h2
{
    box-shadow: -1px 3px 3px rgba(0,0,0,0.1);
}

/*article.tabs section,
article.tabs section h2
{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}*/